.App {
  text-align: center;
}

.space{
  margin: 15px;
}

body{
    margin: 5% auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.profile{
  width:200px;
  height:60%;
  border-radius: 90px;
  border: 1px solid black;
  z-index: 255;
  position: relative;
    left: 18%;
}

.profile2{
    width:500px;
    height:100%;
    border-radius: 10px;
    position: relative;
    right: 7%;
}

.tweetStyle{
    background-color: #f0ebeb;
    margin-right: 32%;
    margin-left: 32%;
    margin-top: 2%;
    border: 1px solid black;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
        "tweetDraw tweetMessage";
}

.tweetDraw{
    grid-area: tweetDraw;
}

.tweetTitle{
    grid-area: tweetTitle;
}

.tweetMessage{
    grid-area: tweetMessage;
}

a{
    text-decoration: none;
    color: snow;
    background-color: navy;
}

button{
    width: 110px;
    height: 25px;
    border-radius: 10px;
    color: snow;
    background-color: navy;
}
