body{
    background-color: #131418;
}

.App {
  text-align: center;
  border: 1px solid black;
    border-radius: 15px;
    margin-left: 150px;
    margin-right: 150px;
    background-color:snow;
}

.nav{
    width: 100%;
    height: 60px;
    border-top-left-radius:13px;
    border-top-right-radius:13px;
    background-color: #93311d;
}

.space{
  margin: 45px;
}


.App-header {
  background-color: #93311d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.profile{
  width:160px;
  height:155px;
  border-radius: 80px;
  border: 2px solid white;
  z-index: 255;
  position: relative;
    left: 2%;
    bottom: 25px;
}

.profile2{
    width:50%;
    height:70%;
    border-radius: 10px;
    position: relative;
    right: 4%;
}

input{
    height: 20px;
    border: 2px solid black;
}

a{
    text-decoration: none;
    position: relative;
    top:30%;
    color: snow;
    font-size: large;
    font-weight: bold;
}

button{
    width: 90px;
    height: 45px;
    border:#ff3300;
    border-radius: 25px;
    color: snow;
    background-color:#ff3300;
    font-size: large;
    cursor: pointer;
}

.button{
    width: 60px;
    height: 23px;
    border-radius: 25px;
    color: snow;
    background-color:#ff3300;
    font-size: 15px;
    cursor: pointer;
}

input{
    border-radius: 5px;
}

.slider-wrapper {
    font-size: 40px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    height: 50px;
    overflow: hidden;
    padding: 0 10px;
}

.slider > div {
    box-sizing: border-box;
    color: snow;
    height: 50px;
    margin-bottom: 50px;
    padding: 0 10px;
    text-align: center;
    border-radius: 10px;
}

.text1 {
    background-color: #da552f;
    animation: slide 5s linear infinite;
}

.text2 {
    background-color: #da552f;
}

.text3 {
    background-color: #da552f;
}

@keyframes slide {
    0% { margin-top: -300px; }
    5% { margin-top: -200px; }
    33% { margin-top: -200px; }
    38% { margin-top: -100px; }
    66% { margin-top: -100px; }
    72% { margin-top: -0; }
    100% { margin-top: 0; }
}